<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLoVuzjG998OLtpx5Z-mcY7x4NsFRz_q4</string>
	<key>GCM_SENDER_ID</key>
	<string>181900385303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalWardrobe</string>
	<key>PROJECT_ID</key>
	<string>digital-wardrobe-9468a</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-wardrobe-9468a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181900385303:ios:c4833c7be4d8c4e9a3d052</string>
</dict>
</plist>